<!DOCTYPE html>
<html>
<!-- BOOTSTRAP CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- FONT IMPORT -->
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"> 

<!-- CUSTOM STYLESHEET -->
<link rel="stylesheet" href="/static/css/project_styles.css">

<title> {{ title }} </title>


	<body>
		<!-- MAIN HEADER / NAV-BAR -->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
                    <h3><span style="font-weight:normal;"> {{ title }} </span></h3>
				</div>
				<div class="col-sm-4">
                    <p class="centered-text"> {{ paragraph }} </p> <!-- WEBSITE IN PRODUCTION -->
				</div>
				<div class="col-sm-4">
                    <h3>
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <a href="/"><button type="button" class="btn btn-default">Home</button></a>
                            <a href="/contact/"><button type="button" class="btn btn-default">Contact</button></a>
                        </div>
                    </h3>
                </div>
			</div>
		</div>
        <!-- END MAIN HEADER -->

		<!-- MAIN CONTAINER -->
		<div class="small-top-buffer">
            <div class="container">
                <div class="col-md-10">
                    <h4><a href={{ gitPrj1 }}>{{ gitPrj1Name }}</a></h4> <!-- Project1 -->
                    <p>
                    {% for line in gitPrj1Desc %}
                        {{ line }}
                        <br></br>
                    {% endfor %}
                    </p>
                </div>
                <div class="col-md-10">
                    <h4><a href={{ gitPrj2 }}>{{ gitPrj2Name }}</a></h4> <!-- Project2 -->
                    <p>
                    {% for line in gitPrj2Desc %}
                        {{ line }}
                        <br></br>
                    {% endfor %}
                    </p>
                </div>
                <div class="col-md-10">
                    <h4><a href={{ gitPrj3 }}>{{ gitPrj3Name }}</a></h4> <!-- Project2 -->
                    <p>
                    Project 3 Description here...
                    <br></br>
                    </p>
                </div>
            </div>
		</div>
        <!-- END MAIN CONTAINER -->

        <!-- FOOTER CONTAINER -->
        <div class="container">
            <p class="footer-buffer">[1] <a href={{ pyEphemLink }}>PyEphem</a></p>
            <p class="footer-buffer">[2] <a href={{ sgp4Link }}>sgp4</a></p>
        </div>
        <br></br>

    </body>

</html>
