<html>
<link rel="stylesheet" media="screen" href="/static/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 

<head>
	<title> {{ title }} </title>
</head>

<style>

.top-buffer {
	margin-top:150px;
}

.small-top-buffer {
    margin-top:50px;
}

body {
	padding-top: 20px;
    font-family:"Quicksand", sans-serif;
}

</style>

	<body>
		<!-- MAIN HEADER / NAV-BAR -->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
                    <h3><span style="font-weight:bold;"> {{ title }} </span></h3>
				</div>
				<div class="col-sm-4">
                    <p class="centered-text"> {{ paragraph }} </p> <!-- WEBSITE IN PRODUCTION -->
				</div>
				<div class="col-sm-4">
                    <h3>
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <a href="/"><button type="button" class="btn btn-default">Home</button></a>
                            <a href="/contact/"><button type="button" class="btn btn-default">Contact</button></a>
                        </div>
                    </h3>
                </div>
			</div>
		</div>
        <!-- END MAIN HEADER -->

		<!-- MAIN CONTAINER -->
		<div class="small-top-buffer">
            <div class="container">
                <a href={{ gitPrj1 }}>{{ gitPrj1Name }}</a>
            </div>
		</div>
        <!-- END MAIN CONTAINER -->

    </body>

</html>
